.classpath
.project
gradlew
gradlew.bat
options.txt
usernamecache.json
/build.gradle
/crash-reports/
/usercache.json

/banned-ips.json
/banned-players.json
/eula.txt
/whitelist.json
/servers.dat
/server.properties
/ops.json
/bin/
